@{
    ViewData["Title"] = "Contact Us";
}
<div class="container my-4">
    <p>
    This is contact page
</p>
    <div class = "row">
       <div class = "col-6">
            <div class="card" style="width: 18rem;">
            <div class="card-header"> 
                Contact Information
             </div>
         <ul class="list-group list-group-flush">
           <li class="list-group-item">Gaushala, Kathamandu</li>
           <li class="list-group-item">+977 981600000, 023 - 54236</li>
           <li class="list-group-item">facebook/Todolist, Instagram/Todolist</li>
         </ul>
        </div>
       </div>
       <div class = "col-6">
                    <img src="~/img/contact.jpg" alt="img" class="img-thumbnail rounded float-right">

       </div>
    </div>
        