@{
        ViewData["Title"] = "Loging Page";

}

<p>
    Hello, Welcome to the signup page
</p>
 <div class="container my-4">
     <div class="modal-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="">First name</label>
                            <input type="text" class="form-control" name="" id=""  aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="">Last name</label>
                            <input type="text" class="form-control" name="" id=""  aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="">Username</label>
                            <input type="text" class="form-control" name="" id=""  aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="" id=""  aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" name="" id="">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="">
                            <label class="form-check-label" for="">Check me out</label>
                        </div>
                        <button name="submit" type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>

 </div>
                