@{
    ViewData["Title"] = "Privacy Policy";
}
<div class = "container my-4">
<h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
    <div class="row">
        <div class = "col-7">
            For individuals to feel comfortable sharing their personal information on the internet, there should be some sort of legal responsibility on businesses to protect that data and keep the users informed about the status and health of their information.

Countries around the world have realized the need to protect their citizens' data and privacy. Businesses and websites that collect and/or process customer information are required to publish and abide by a Privacy Policy agreement.

A majority of countries have already enacted laws to protect their users' data security and privacy. These laws require businesses to obtain explicit consent from users whose data they will store or process.

A few of these laws include the following:
<ul>
      <li>CalOPPA in the USA</li>
      <li>GDPR in the EU</li>
      <li>PIPEDA in Canada</li>
    </ul>




For a business or a website that collects and processes user information in a certain region or country, it is very important to have complete knowledge of the data and privacy protection laws enforced in that region and the region your customers and end users are in. Non-compliance
with these laws can result in hefty fines or even prosecution against the violator.
        </div>
        <div class = "col">
                    <img src="~/img/pp.jpg" alt="img" class="img-thumbnail rounded float-right">

        </div>
    </div>
</div>
